@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<div class="container" style="display: grid; background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h4>User Guide:</h4>
    <p>Instructions for using the app.</p>

</div>
<div class="container" style="display: grid; background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h4>About Us</h4>
    <p>Information about Dom &Aacute; plantFriends. </p>

</div>
<div class="container" style="display: grid; background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h4>Our Sources:</h4>
    <p>A list of Sources, references and disclaimers.</p>

</div>
