@{
    ViewBag.Title = "Contact";
}
<h1>@ViewBag.Title.</h1>
<h3>@ViewBag.Message</h3>

<div class="container" style="background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h4>Our Contact Details</h4>
    <address>
        One Example Way<br />
        Christchurch, New Zealand 8061<br />
        <abbr title="Phone">P: 02222222222</abbr>
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@PlantFriends.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@PlantFriends.com</a>
    </address>
    <div>
        <p>Map Goes Here</p>
    </div>
</div>