@{
    ViewBag.Title = "Home Page";
}
<h1>PlantFriends!</h1>
<div class="container" style="background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h2>Find A Companion For Your Plant!</h2>
    <p class="lead">PlantFriends is a free web tool for finding companion plants and helping your garden grow healthier. 
    <br />Share your own experiences and knowledge too!</p>
    <p><a href="/Plants/index" class="btn btn-primary btn-lg">Find A Plant! &raquo;</a></p>
</div>


<div class="container" style="background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h2>User Guide</h2>
    <p>
       Learn how to use PlantFriends to find companions, and add your own plants and experiences
        to help contribute to the community.
    </p>
    <p><a class="btn btn-default" href="/Home/about">Learn how to use PlantFriends &raquo;</a></p>
</div>
<div class="container" style="background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h2>Add a relationship!</h2>
    <p>Know any companion plant pairs? Share your knowledge by adding them here!</p>
    <p><a class="btn btn-default" href="/relationships/create">Add a Companion Relationship! &raquo;</a></p>
</div>
<div class="container" style="background-color: rgba(194,255,255,0.8); border: 1px solid black; border-radius: 5px; box-shadow: rgba(0,0,0,.4) -3px 4px; margin-top: 20px; padding-bottom: 15px; overflow: hidden;">
    <h2>Add a plant!</h2>
    <p>Add a plant to our database so you and others can link companion plants to it!</p>
    <p><a class="btn btn-default" href="/plants/create">Add a Plant! &raquo;</a></p>
</div>
